.popular-movie-container{
    margin: 0 50px;
}

.popular-movie-container h3 {
    background-color: transparent;
}

.carousel-container{
    overflow: hidden;
    height: 450px;
}

@media (max-width: 768px) {
    .popular-movie-container{
        margin: 30px;
    }

    .carousel-container{
        height: 270px;
    }
}