.topRated-movie-container{
    margin: 50px;
}

.topRated-movie-container h3 {
    background-color: transparent;
}

.carousel-container{
    overflow: hidden;
    height: 450px;
}

@media (max-width: 768px) {
    .topRated-movie-container{
        margin: 30px;
    }

    .carousel-container{
        height: 270px;
    }
}