.upcoming-movie-container{
    margin: 50px;
}

.upcoming-movie-container h3 {
    background-color: transparent;
}

.carousel-container{
    overflow: hidden;
    height: 450px;
}

@media (max-width: 768px) {
    .upcoming-movie-container{
        margin: 30px;
    }

    .carousel-container{
        height: 250px;
    }
}