.movie-slider-container h3::before {
    content: '';
    display: inline-block;
    width: 10px; 
    height: 25px; 
    background-color: red; 
    margin-right: 8px; 
    vertical-align: middle;
    border-radius: 2px; 
}