.movieCard-background{
    width: 250px;
    height: 370px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 30px;
    box-shadow: rgba(255, 0, 0, 0.44) 0px 6px 10px;
}

.movieCard-info{
    width: 250px;
    height: 370px;
    background: rgba(43, 41, 41, 0.9);
    opacity: 0;
    transition: all 1s;
    color: white;
    font-weight: bold;
    overflow-wrap: break-word;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
}

.movieCard-info:hover {
    opacity: 1;
}

.movieCard-background:hover{
    transform: scale(1.05) translateZ(5px);
    z-index: 3;
}

.movieCard-info h1{
    font-size: 30px;
}

.movieCard-info-badge{
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}

.movieCard-infoDetail {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.movieCard-infoDetail-adult.adult {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(216, 0, 0);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 15px;
}

.movieCard-infoDetail-adult.all {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 15px;
}

@media (max-width: 768px){
    .movieCard-background{
        width: 175px;
        height: 250px;
    }

    .movieCard-info{
        width: 170px;
        height: 250px;
        padding: 13px;
    }

    .movieCard-background:hover{
        transform: scale(1.08) translateZ(4px);
        z-index: 3;
    }

    .movieCard-info h1{
        font-size: 20px;
    }

    .movieCard-info-badge{
        font-size: 10px;
    }

    .movieCard-infoDetail {
        font-size: 10px;
    }

    .movieCard-infoDetail-adult.adult{
        width: 15px;
        height: 15px;
        font-size: 7px;
    }

    .movieCard-infoDetail-adult.all{
        width: 15px;
        height: 15px;
        font-size: 7px;
    }
    
}