.Review-title {
    color: white;
    margin-top: 80px;
    text-align: center;
}

.ReviewCardContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ReviewContiner-btn {
    width: 15rem;
    height: 30px;
    text-align: center;
    background-color: rgb(172, 0, 0);
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}